/* #app {
    text-align: center;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home-page {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 901px) {
    .form {
        width: 800px;
    }

}

@media (max-width: 900px) {
    .form {
        width: 90%;
    }
}
