* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
}

#home-page {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#post-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.posts>h1 {
    text-align: center;
}

@media (min-width: 901px) {
    .form {
        width: 800px;
    }

    #search-bar {
        width: 800px;
    }

    .posts {
        width: 800px;
    }

}

@media (max-width: 900px) {
    .form {
        width: 90%;
    }

    #search-bar {
        width: 80vw;
    }

    .posts {
        width: 90%;
    }

    #home-page>h1,
    #home-page>h2 {
        font-size: 20px;
    }
}
